@font-face {
  font-family: Saira;
  src: url(./Assets/Fonts/Saira/Saira-Regular.ttf);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(234.36deg, rgba(12, 12, 76, 0.5) 2.69%, rgba(6, 6, 6, 0) 43.67%), radial-gradient(168.67% 168.67% at 48.89% 54.41%, rgba(78, 32, 130, 0.5) 0%, rgba(12, 12, 76, 0.5) 71.88%), #080817;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.no-pad{
  padding: 0 !important;
}
.ranking-grid::-webkit-scrollbar {
  width: 0em;
}
 
.ranking-grid::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.ranking-grid::-webkit-scrollbar-thumb {
  background-color: transparent;
    outline: 1px solid transparent;
}
.player-grid::-webkit-scrollbar {
  width: 0em;
}
 
.player-grid::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.playerg-grid::-webkit-scrollbar-thumb {
  background-color: transparent;
    outline: 1px solid transparent;
}
.animation-game {
  height: calc(100vh - 300px) !important;
  margin-bottom: 10px !important;
}
.game-box{
  height: 100% !important;
  width: 100% !important;
  background-image: url('./Assets/img/road.png'),url('./Assets/img/sky.png');
  background-repeat: no-repeat,no-repeat;
  background-repeat: no-repeat,no-repeat;
    background-size: 124% 55%, 100% auto;
    background-position: center 103%, 0;
}
input{
  color: #FFFFFF !important;
  font-family: 'Saira';
font-style: normal;
font-weight: 400;
font-size: 15px;
}
.text-input>div:after{
  border-bottom: 2px solid #995AFF !important;
}